<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<!--
<ion-view view-title="{{chat.name}}">
    <ion-nav-buttons side="primary" nav-direction="enter">
        <a class="button" ng-controller="MyCtrl" ng-click="myGoBack()">
            <i class="ion-android-arrow-dropdown"></i> Options
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list card">
            <!--
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-telephone"></i>
                    Call
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-android-chat"></i>
                    Text
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-edit"></i>
                    Comments
                </a>
            </div>-->
            <div class="item item-avatar">
                <img src="{{chat.face}}">

                <h2>Marty McFly</h2>

                <p>{{chat.lastText}}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="{{chat.face}}">

                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text. The footer
                    consists of tabs, icons aligned left, within the card-footer.
                </p>

                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>


        </div>
    </ion-content>
</ion-view>
