<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Manage Customer">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name of the customer" ng-model="customer.name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Phone</span>
                <input type="text" placeholder="Mobile phone number" ng-model="customer.phone">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <input type="text" placeholder="地址" ng-model="customer.address">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Avatar</span>
                <input type="file" ng-model="customer.avatar">
              <!--  <a class="button button-positive" ng-click="uploadCustomerPicture()">upload</a> -->
            </label>
        </div>
        <div class="padding">
           <!-- <button class="button button-bar button-positive" ng-click="uploadCustomerPicture()"><p class="text-center">Upload Avatar</p></button> -->
            <button class="button button-block button-positive" ng-click="saveOrUpdateCustomer()"><p class="text-center">Submit</p></button>

        </div>

    </ion-content>
</ion-view>
