<ion-view view-title="Send SMS">

    <ion-nav-buttons side="left">
        <button class="button" ng-click="$ionicGoBack($event)"><i class="icon ion-android-arrow-back"></i></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list">
            <label class="item">
                <span class="input-label">You can select a template</span>
                <button class="button button-block button-calm" ng-click="goToTemplateList()">go to template list
                </button>
            </label>
            <label class="item item-input item-stacked-label text">
                <div class="row">
                    <div class="col-50">
                        <span class="input-label">Text Sending</span>
                    </div>
                    <div class="col-50">
                        <button class="button button-small" ng-click="clearText()">Clear text</button>
                    </div>

                </div>
                <textarea placeholder="Content of the Template" rows="12" ng-model="smsTemplate.content"></textarea>
            </label>

        </div>
        <button class="button button-block button-positive" ng-click="sendSingleSms(selectedName)"><p
                class="text-center">Send SMS</p></button>
    </ion-content>
</ion-view>