<ion-view view-title="SMS Template">
    <ion-nav-buttons side="left">
        <button class="button" ng-click="$ionicGoBack(event)"><i class="icon ion-android-arrow-back"></i></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="$ionicGoBack(event)"><i class="ion-arrow-left-a"></i></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name of the Template" ng-model="smsTemplate.name">
            </label>
            <label class="item item-input item-stacked-label text">
                <span class="input-label">Content</span>
                <textarea placeholder="Content of the Template" rows="17" ng-model="smsTemplate.content"></textarea>
            </label>

        </div>
            <button class="button button-block button-positive" ng-click="saveOrUpdateCustomer()"><p class="text-center">Submit</p></button>
    </ion-content>
</ion-view>